<tr>
    <td>
        <img src="{{book.imgurl}}">
        <a ui-sref="edit({bookID: book.bookID})">
            <button class="edit btn btn-default btn-xs">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
        </a>
        <button ng-click="del(book.bookID)" class="delete btn btn-default btn-xs delbook">
            <span class="glyphicon glyphicon-minus"></span>
        </button>
    </td>
    <td>
        <a class="booksdetail" ui-sref="detail({bookID:book.bookID})" bookID="{{book.bookID}}">{{book.name}}</a>
    </td>
    <td> {{book.author}} </td>
    <td> {{book.category}} </td>
    <td> {{book.publish}} </td>
    <td> {{book.pubTime}} </td>
    <td> {{book.price}} </td>
</tr>
